@import "styles/colors"
@import "styles/dimensions"


.context
    width: 300px
    max-width: 20vw
    height: 100vh
    padding: 50px
    display: flex
    flex-direction: column
    align-items: center
    position: fixed
    overflow: hidden
    background: $light
    color: $primary
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.23)
    @media (max-width: $small)
        width: 100vw
        max-width: none
        height: 75px
        padding: 0
        flex-direction: row
        justify-content: space-between
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.23)

.header
    font-size: larger
    font-family: "Dancing Script", cursive
    z-index: 200
    @media (max-width: $small)
        font-size: medium
        margin: 20px

.address
    width: 100%
    padding: 20px 0 20px 0
    border: 1px solid rgba(0, 0, 0, 0.46)
    border-left: none
    border-right: none
    text-align: center
    a
        cursor: pointer
        color: $primary
        text-decoration: none
        font-size: 18px
        font-family: "Aboreto", serif
        line-height: 25px

.links
    padding: 20px 0 20px 0
    gap: 10px
    display: flex
    flex-direction: column
    a
        font-size: 20px
        cursor: pointer
        text-align: center

.menuButton
    justify-self: right
    overflow: hidden
    margin: 20px
    font-size: 25px
    z-index: 200

.menuContent
    width: 100vw
    height: fit-content
    padding: 90px 0 50px 0
    position: fixed
    top: 0
    z-index: 100
    background: #fff4f4
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.14)